/*
 * @Author: 刁琪
 * @Date: 2019-09-10 17:23:58
 * @LastEditors: わからないよう
 * @LastEditTime: 2020-09-04 14:50:00
 */ 
 .creat-group-page{
  .form-area{
    margin-top: 20px;
    .right{
      margin-right: 30px;
    }
  }
  .sign-area{
    margin-top: 50px;
    padding: 20px;
  }
  .modal-cnt{
    text-align: center;
  }
}